body {
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
  background: #fece1a;
}

.header {
  background-color: #0066ee;
}
.header h4 {
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 600;
  color: #fff;
}
.header .profile {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .profile i {
  font-size: 20px;
  color: #0066ee;
}
.header__light {
  background-color: #fff;
}
.header__light h4 {
  color: #0066ee;
}
.header__light .profile {
  background: #0066ee;
}
.header__light .profile i {
  font-size: 20px;
  color: #fff;
}

.start-btn {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.banner {
  width: 100%;
  background: linear-gradient(200deg, #0066EE 60%, #9383FB 100%);
  height: 100vh;
}
.banner h1 {
  font-size: 68px;
  line-height: 80px;
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 700;
  color: #fff;
}
.banner h1 span {
  font-family: 500 !important;
}
.banner p {
  color: #fff;
  font-size: 18px;
}
.banner__img img {
  width: 280px;
}

.navbar {
  background-color: #0066ee;
}
.navbar ul {
  padding-left: 0px;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.navbar a.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 20px;
  margin-right: 20px;
}

.our-members {
  background-color: #24295f;
}
.our-members span {
  font-size: 68px;
  line-height: 80px;
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 700;
  color: #fff;
}
.our-members h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.our-members p {
  font-size: 18px;
}

.helth-goal h1 {
  font-size: 48px;
}
.helth-goal__details span {
  font-size: 68px;
  line-height: 80px;
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  color: #0066ee;
  font-weight: 600;
}
.helth-goal__details h3 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
}
.helth-goal__details p {
  color: #6C6C70;
  font-size: 16px;
  line-height: 28px;
}

.download__details {
  background: linear-gradient(200deg, #0066EE 60%, #9383FB 100%);
  border-radius: 20px;
  position: relative;
  padding: 100px;
}
.download__details h1 {
  font-size: 68px;
  line-height: 80px;
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 700;
  color: #fff;
}
.download__details span {
  color: #fff;
  font-size: 18px;
  display: block;
}
.download__details a {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.download__details .img-download {
  position: absolute;
  right: 100px;
  top: -160px;
  width: 280px;
}

.about-img {
  float: right;
  padding: 0px 0px 30px 30px;
}

.form__details {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 32px;
}
.form__details .form-control {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 30px;
}
.form__details input#searchInput {
  border-radius: 30px;
  background: #edf2fa;
}

.badhboard-banner img {
  -o-object-fit: contain;
     object-fit: contain;
}

.dashboard .user img {
  -o-object-fit: cover;
     object-fit: cover;
}

.day-count {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.day-count .day-nummber {
  font-size: 50px;
  font-weight: 700;
}
.day-count .day-text p {
  margin-bottom: 0rem;
}

.chart-design {
  border-radius: 8px;
  box-shadow: rgba(8, 42, 107, 0.1) 0px 0px 12px 0px;
}

.content h2.title {
  font-size: 36px;
  line-height: 75px;
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 700;
}
.content button.accordion-button.collapsed {
  font-weight: 600;
  padding: 15px 0px 15px 0px;
}

.food-item {
  cursor: pointer;
}

.pdf {
  width: 100%;
  aspect-ratio: 4/3;
}

button.meal-btn {
  padding: 15px 30px;
  border-radius: 30px;
  border: 2px solid #0066ee;
}

button.meal-btn.active {
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  border: 2px solid #0066ee;
  background-color: #0066ee;
}

.footer {
  background-color: #24295f;
}
.footer .start-btn {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.footer h4 {
  font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 600;
  color: #fff;
}
.footer p {
  font-size: 18px;
  color: #fff;
}
.footer ul {
  padding-left: 0rem;
}
.footer ul li {
  list-style-type: none;
}
.footer ul a {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  display: block;
}/*# sourceMappingURL=style.css.map */